.container{
    box-sizing: content-box;
    margin: auto;
    height: 640px;
    width: 820px;
    font-family: 'Trade Winds', cursive;
    border: black 5px solid;
    
}

body {
    background-image: url("https://i.pinimg.com/originals/c1/e7/30/c1e730a38f30b04816de325e5fced5f8.jpg");
    background-color: rgb(206, 238, 156);
    background-size: cover;
}

.header{
    box-sizing: content-box;
    position: relative;
    text-align: center;
    color: rgb(89, 48, 201);
    font-size: 30px;
}
#rules{
    font-size: 25px;
}
#compNumber{
    box-sizing: content-box;
    background-color: rgb(79, 152, 201);
    height: 150px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left:0;
    text-align: center;
    font-size: 30px;
}
#winCounter{
    box-sizing: content-box;
    background-color: rgb(8, 75, 138);
    height: 150px;
    width:30%;
    position: absolute;
    bottom: 0;
    right: 35%;
    text-align: center;
    font-size: 30px;
}
#totalScore{
    box-sizing: content-box;
    background-color:rgb(79, 152, 201);
    height: 150px;
    width:30%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
}